@{
    ViewBag.Title = "SignalR";
}

<div class="jumbotron">
    <h1>REAL-TIME</h1>
    <p class="lead">Real-time web functionality is the ability to have server code push content to connected clients instantly.</p>
    <p><a target="_blank" href="https://www.asp.net/signalr" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
